extends layout

block content
  //Comment One
  div first Div
  //comment Two
  div Second Div

  script(src="javascripts/app/nodeService.js")
  script(src="javascripts/app/app.js")
  script(src="javascripts/lib/jasmine.js")
  script(src="javascripts/lib/jasmine-html.js")
  script(src="javascripts/lib/boot.js")
  script(src="javascripts/spec/nodeServiceSpec.js")

  
